* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navBar {
    width: 100%;
    background-color: #ffffff;
    height: 51.5px;
    display: flex;
    z-index: 999;
    justify-content: space-evenly;
    box-shadow: 0px 1px 1px lightgrey;
}

.logo {
    padding: 4.5px 7px;
    font-size: 40px;
}

.navLeft {
    display: flex;
    cursor: pointer;
    margin-left: 230px;
}

.navRight {
    display: flex;
    cursor: pointer;
    margin-right: 200px;
}

.navSearch {
    display: flex;
    align-items: center;
    border-radius: 3px;
    height: 33px;
    margin-top: 9.5px;
    width: 280px;
    color: grey;
    background-color: #eef3f8;
}

.navSearch input {
    outline: none;
    border: none;
    background: none;
    font-size: 14px;

}


.fafaicon {
    font-size: 14px;
    padding: 7px;
}

.imgForMe {
    margin-right: 12px;
}

h3 {
    font-size: 13px
}

.navOpt {
    font-size: 18.5px;
    margin-top: 5px;
    padding: 4px 16px 7px 16px;
    color: rgb(109, 108, 108);
}


.navRight :hover {
    color: rgb(24, 24, 24);
}

.vl {
    border-left: 1px solid rgb(223, 223, 223);

}


/* main */

.container{
    height: 100%;
    width: 100%;
}

.maincont{
    display: grid;
    width: 59%;
    margin: 2.5vh auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 54px;
    height: 78vh; 
    /* border: 1px solid black; */
    border-radius: 10px;
}

.left{
    background-color: #f3f2ef;
    /* f3f2ef */
    height: 77.5vh;
    width: 11.8vw;
    position: absolute;
    align-self: start;
    margin-bottom: 20px;
}

.left-part1{
    background-color: rgb(255, 255, 255);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    background-image: url(imgs/1677516984935.jpeg);
    background-size:12vw;
    background-repeat: no-repeat;
    height: 35vh;
    border-radius: 10px;
}

.img img{
    width: 7vh;
    position: relative;
    top: 2vh;
    bottom: 0;
    border-radius: 50%;
    border: 2px solid white;
}

.left-part2{
    height: 41vh;
    background-color: blue;
    margin-top: 1vh;
    border-radius: 10px;
}

.section-1{
    margin-top: 4.4vh;
    border-bottom: 1px solid black;
}

.section-1 h2{
    margin-bottom: 0.5vh;
    font-size: 1em;
    font-weight: bold;
}

.section-1 p{
    font-size:0.9em;
    color: rgb(102, 99, 99);
    margin-bottom: 1.5vh;
    
}

.section-2{
    float: left;
    border-bottom: 1px solid #000;
    width: 100%;
    text-align: left;
}

.section-2 h2{
    margin-top: 0.7rem;
    margin-bottom: 0.3vh;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 1rem;
    
}

.section-2 p{
    font-size:0.8em;
    color: rgb(102, 99, 99);
    margin-bottom: 0.7vh; 
    padding-left: 1rem;
    padding-bottom: 0.3rem;
}


.section-3{
    float: left;
    border-bottom: 1px solid #000;
    width: 100%;
    text-align: left;
}

.section-3 h2{
    margin-top: 0.7rem;
    margin-bottom: 0.1vh;
    font-size: 0.8em;
    font-weight: lighter;
    padding-left: 1rem;   
}

.section-3 p{
    font-size:0.8em;
    color: rgb(0, 0, 0);
    margin-bottom: 0.7vh; 
    padding-left: 1rem;
    padding-bottom: 0.3rem;
    font-weight: bold;
}

.section-4{
    float: left;
    border-bottom: 1px solid #000;
    width: 100%;
    text-align: left;
}

.section-4 h2{
    margin-top: 0.6rem;
    margin-bottom: 0.6vh;
    font-size: 0.9em;
    font-weight: lighter;
    padding-left: 1rem;
    font-weight: bold;
}