* {
    margin: 0;
    padding: 0;
}

body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(243,242,239);
    }

.fullContainer{
    height: 30px;
    background-color : #ff0000;
}

.navBarLeft{
    width: 30%;
    height: 30px;
    display: flex;
    background: #000;
    margin-left: 190px;
}


#imgLinkedin{
    width: 30px;
    float: right;
    
}

.logo i{
    font-size: 20px;
    float: right;
    margin-top: 5px;
    color: rgb(10, 102, 194);
}

.search{
    margin-top: 5px;
    padding-left: 5px;
}

.search input{
    width: 155px;
    border: whitesmoke;
    border-radius: 2px;

}

.search-tab{
    display: none;
}

